.claude
.codex

target
data
.cargo

.next
node_modules
backend_logs*.txt
front/tsconfig.tsbuildinfo
.env.local


hyperlane_db
hyperlane_db_validator_hyli
hyperlane_db_validator_sepolia
validator-signatures